; this file has to be placed in /etc/systemd/system/tabelline.service
[Unit]
Description=Gunicorn instance to serve Tabelline API
After=network.target

[Service]
User=fabio
Group=www-data
WorkingDirectory=/home/fabio/myProjects/Tabelline_DF
Environment="PATH=/home/fabio/myProjects/Tabelline_DF/localenv/bin"
ExecStart=/home/fabio/myProjects/Tabelline_DF/localenv/bin/gunicorn --workers 3 --bind unix:tabelline.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
